@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

.syncopate {

  &-regular,
  &-bold {
    font-family: "Syncopate", sans-serif;
    font-style: normal;
  }

  &-regular {
    font-weight: 400;
  }

  &-bold {
    font-weight: 700;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .animation-container {
    animation: shakeIt 1s ease-in infinite;

    * {
      text-align: center;
    }
  }
}

@keyframes shakeIt {
  0% {
    transform: skew(0);
  }
  25% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(0);
  }
  75% {
    transform: skew(-15deg, 15deg);
  }
  100% {
    transform: skew(0);
  }
}