<section>
  <div *ngIf="!loading">
    <p>People of interest</p>
    <ul>
      <li
        *ngFor="let person of people"
        [class]="person.complete ? 'person-complete' : 'person-incomplete'"
      >
        {{person.name}}
      </li>
    </ul>
    <button (click)="loadData()">Refresh data</button>
  </div>
  <img *ngIf="loading" src="https://i.gifer.com/ZKZg.gif" alt="Loading image">
  
  <div class="tab" [ngSwitch]="selectedTab">
    <button (click)="onSelectTab('profile')">Profile</button>
    <button (click)="onSelectTab('points')">Points</button>
    <button (click)="onSelectTab('info')">Info</button>

    <div class="tabContent">
      <p *ngSwitchCase="'profile'">This is the profile page</p>
      <p *ngSwitchCase="'points'">This is the points page</p>
      <p *ngSwitchCase="'info'">This is the info page</p>
      <p *ngSwitchDefault>Default page</p>
    </div>
  </div>
</section>
