ul {
  padding-inline-start: 0;
  list-style-type: none;
  animation: fade-in-up .2s ease-in-out;
}
.person{
  &-complete,
  &-incomplete {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
  }

  &-complete {
    background-color: teal;
    color: white;
  }

  &-incomplete {
    background-color: lightcoral;
    color: lightgray;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}