<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todo-utility" routerLinkActive="active">ToDo utility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/directive" routerLinkActive="active">Directive example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>