<h2>Create new User</h2>
<form class="row g-3 needs-validation" novalidate (submit)="onSubmit()">
  <div class="col-md-4">
    <label for="firstName" class="form-label">First name</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" [ngModelOptions]="{'standalone': true}">
  </div>
  <div class="col-md-4">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" [ngModelOptions]="{'standalone': true}">
  </div>
  <div class="col-12">
    <button class="btn btn-dark me-4" routerLink="../">Cancel</button>
    <button class="btn btn-primary" type="submit">Create User</button>
  </div>
</form>