<p>Hi {{name}}!</p>

<img [src]="image.src" [alt]="image.alt">
<form (submit)="handleSubmit($event)">
  <input type="text" [(ngModel)]="formData.firstName" [ngModelOptions]="{standalone: true, name: 'firstName'}">
  <input type="text" [(ngModel)]="formData.lastName" [ngModelOptions]="{standalone: true}">
  <input type="email" [(ngModel)]="formData.email" [ngModelOptions]="{standalone: true}">
  <input type="password" [(ngModel)]="formData.password" [ngModelOptions]="{standalone: true}">
  <button type="submit">Submit</button>
</form>
<form (submit)="handleSubmit2($event)">
  <input type="text" name="firstName" (input)="handleOnChange($event)">
  <input type="text" name="lastName" (input)="handleOnChange($event)">
  <input type="email" name="email" (input)="handleOnChange($event)">
  <input type="password" name="password" (input)="handleOnChange($event)">

  <button type="submit">Submit</button>
</form>