<h3>List of users</h3>
<ul class="list-group mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users">
    {{ user.firstName }} {{ user.lastName }}
    <div class="btn-group">
      <button class="btn btn-success" [routerLink]="user.uid + '/edit'">Edit</button>
      <button class="btn btn-danger" (click)="onDelete(user.uid)">Delete</button>
    </div>
  </li>
</ul>

<button class="btn btn-primary" routerLink="/users/new">Create an user</button>