<div class="main-content">
  <div class="todo-form">
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="todoDescription" class="form-label">Description</label>
        <input
          type="text"
          id="todoDescription"
          [class]="error ? 'form-control is-invalid' : 'form-control'"
          placeholder="Insert ToDo"
          [(ngModel)]="todo.description"
          name="description"
        />
        <div *ngIf="error" class="invalid-feedback">
          {{error}}
        </div>
      </div>
    </form>
    <div class="action-buttons">
      <button class="btn btn-primary" (click)="addToDo()">Add ToDo</button>
      <button class="btn btn-secondary" (click)="resetToDo()">Reset Form</button>
    </div>
  </div>
  
  <div class="todo-container">
    <h2>ToDos</h2>
    <div class="tab-content">
      <div>
        <ul class="list-group list-group-horizontal">
          <li
            (click)="handleChangeTab('ALL')"
            [class]="selectedTab === 'ALL' ?'list-group-item active' : 'list-group-item'"
          >
            All ToDos
          </li>
          <li
            (click)="handleChangeTab('COMPLETED')"
            [class]="selectedTab === 'COMPLETED' ?'list-group-item active' : 'list-group-item'"
          >
            Completed ToDos
          </li>
          <li
            (click)="handleChangeTab('INCOMPLETE')"
            [class]="selectedTab === 'INCOMPLETE' ?'list-group-item active' : 'list-group-item'"
          >
            Incomplete ToDos
          </li>
        </ul>
        <h4 *ngIf="todosDisplayed.length === 0">No ToDos found with this filter</h4>
        <ul *ngIf="todosDisplayed.length >= 0" class="list-group list-todos">
          <li
            *ngFor="let toDo of todosDisplayed"
            [class]="toDo[1].completed ? 'list-group-item todo-completed' : 'list-group-item todo-incomplete'"
          >
            <p class="todo-description">{{ toDo[1].description }}</p>
            <button
              [class]="toDo[1].completed ? 'btn btn-danger' : 'btn btn-success'"
              (click)="toggleCompleteToDo(toDo[0])"
            >
              Mark as {{ toDo[1].completed ? 'incomplete' : 'completed'}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 