.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;

  form.needs-validation .invalid-feedback {
    display: block;
  }

  .action-buttons {
    display: flex;
    gap: 1rem;
  }

  .list-group.list-group-horizontal .list-group-item{
    cursor: pointer;
  }

  .list-todos {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      button {
        width: fit-content;
      }

      &.todo {
        &-completed {
          background-color: lightcyan;
          transition: background-color .2s ease-in-out;
        }

        &-incomplete {
          background-color: lightsalmon;
          transition: background-color .2s ease-in-out;
        }
      }
    }
  }
}