.edit-user-container {
  position: relative;

  .loading {
    width: min(100px, 40%);
    height: min(100px, 40%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
    }
  }
}