<h2>Edit User</h2>
<div class="edit-user-container">
  <form class="row g-3 needs-validation" novalidate (submit)="onUpdate()">
    <div class="col-md-4">
      <label for="firstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
      <div class="valid-feedback"></div>
    </div>
    <div class="col-md-4">
      <label for="lastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
      <div class="valid-feedback"></div>
    </div>
    <div class="col-12">
      <button class="btn btn-dark me-4" routerLink="../../">Cancel</button>
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
  <div *ngIf="isFetchingUser" class="loading">
    <img src="https://i.gifer.com/ZKZg.gif" alt="Loading image">
  </div>
</div>